<%= render 'layouts/jumbo' %>
<div class="bg-white">
  <div class="container">
    <div class="row">
        <div class="col-1">
          <img src="https://www.amaysim.com.au/sites/default/files/2017-04/lock_dash_mint.svg" alt="">
        </div>
        <div class="col-3">
          <h6>no lock-in contracts</h6>
          <p>Freedom to switch your plan or cancel at anytime.</p>
        </div>
        <div class="col-1">
          <img src="https://www.amaysim.com.au/sites/default/files/2017-04/join_dash_mint.svg" alt="">
        </div>
        <div class="col-3">
          <h6>simple to join</h6>
          <p>Quick and easy online sign-up, we’ll take care of all the fiddly bits.</p>
        </div>
        <div class="col-1">
          <img src="https://www.amaysim.com.au/sites/default/files/2017-04/app_dash_mint.svg" alt="">
        </div>
        <div class="col-3">
          <h6>easy to manage</h6>
          <p>Download our app or manage your plans online.</p>
        </div>
      </div>
    </div>
</div>

<div class="card-container">
  <div class="card-deck">
    <div class="card">
      <div class="card-body card-one">
        <h4 class="card-title">sim-only mobile plans</h4>
          <p class="card-text">Unlimited standard talk &amp; text with heaps of data for use in Oz.</p>
        </div>
        <img class="card-img-top" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout/public/cta/2017-05/mobile%20plans.png?itok=cW9n3w3K" alt="Card image cap">
        <div class="card-footer card-footer-1">
          <small class="text-muted"> <a href="/plans/mobile-plans" target="_blank">mobile plans</a></small>
        </div>
    </div>
    <div class="card">
      <div class="card-body card-two">
        <h4 class="card-title">nbn broadband plans</h4>
        <p class="card-text">Unlimited data with superfast speeds. No lock-in contracts.</p>
      </div>
      <img class="card-img-top" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout/public/cta/2017-05/nbn.png?itok=HQEt97oW" alt="Card image cap">
      <div class="card-footer card-footer-2">
        <small class="text-muted"><a href="/plans/nbn" target="_blank">nbn plans</a></small>
      </div>
    </div>
    <div class="card">
      <div class="card-body card-three">
        <h4 class="card-title">data-only plans</h4>
        <p class="card-text">Mobile broadband for your tablets and devices, for use in Oz.</p>
      </div>
      <img class="card-img-top" src="https://www.amaysim.com.au/sites/default/files/styles/coloured_callout/public/cta/2017-05/data%20only.png?itok=p6sU-ykV" alt="Card image cap">
      <div class="card-footer card-footer-3">
        <small class="text-muted"><a href="/plans/data-plans" target="">data only</a></small>
      </div>
    </div>
  </div>
</div>


<%= render 'layouts/jumbo2' %>

<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h2>what we've been up to</h2>
        <div class="row">
          <div class="col-7 w-75">
            <div class="card text-center">
              <div class="card-body">
                <h4 class="card-title">we've been named the best VNO</h4>
                <p class="card-text">Delivering on the promises that we made to Aussies 6 years ago.</p>
                <a href="#" class="btn btn-read">read all about it</a>
              </div>
            </div>
          </div>

          <div class="col-5 text-nowrap">
            <h5 class="col-title">What a two year mobile phone contract will really cost you</h5>
            <p class="tech-talk">14 Sep 2016 in <a href="#">Tech Talk</a></p>
            <h5 class="col-title">Check out our new and improved Help section</h5>
            <p class="help-sect">14 Sep 2016 in <a href="#">Plans and Services</a></p>
            <h5 class="col-title">AS YOU GO credit now lasts for 365 days</h5>
            <p class="plans-serv">16 Sep 2016 in <a href="#">Plans and Services</a></p>
          </div>
      </div>
    </div>
  </div>
</div>
</div> <!--bg-white-end -->

<!--bg white begin-->
<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-sm-9">
        <h2>already with amaysim?</h2>
    </div>

    </div>























  </div><!--container-end-->
</div><!--bg white end-->
