<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
    <div class="col-8">
    <h1 class="display-4">win a Google Home, Chromecast Ultra and a year of nbn ™
    </h1>
    <p class="lead">Sign up to any nbn plan before 31 August to go into the draw. Plans start from $40 a month.
    </p>
    <a class="terms" href="/terms-policies/competition-promos" >T&C's apply</a>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">sign up</a>
    </div>
      <div class="d-flex align-items-end col-4">
        <img src="https://www.amaysim.com.au/sites/default/files/styles/retina_1x/public/2017-08/Header_Image-nbn-com-2.png?itok=_pwM8VHJ" alt="">
      </div>
    </p>
  </div>
</div>
</div>
