<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="https://www.amaysim.com.au/sites/default/files/cta/2017-07/website_award_2016-2017.png" alt="">
      </div>
      <div class="col-8">
        <h5>93% of our customers have recommended amaysim to their mates</h5>
        <p>NPS tracking survey of 2679 customers, May 2017</p>
      </div>
      <div class="col-2">
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">compare plans</a>
        </p>
      </div>
    </div>
  </div>
</div>
