<nav class="navbar navbar-expand-lg navbar-light bg-orange">
  <div class ="container">
  <a class="navbar-brand text-white" href="/">amaysim</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">plans
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/plans/mobile-plans">mobile plans</a>
          <a class="dropdown-item" href="/plans/nbn">nbn plans</a>
          <a class="dropdown-item" href="/plans/data-plans">data plans</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspop="true" aria-expanded="false">about
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">who are we</a>
          <a class="dropdown-item" href="#">why amaysim</a>
          <a class="dropdown-item" href="#">check mobile network coverage</a>
          <a class="dropdown-item" href="#">find a store</a>
          <a class="dropdown-item" href="#">read our blog</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/help/mobile">help</a>
      </li>
    </ul>
  </div>
  </div>
</nav>
